**/node_modules
**/.next
**/build
**/dist
**/coverage

.git
.github
.gitignore
.gitattributes

.env
.env.*
*.local

.vscode
.idea
*.swp
.DS_Store

Dockerfile*
docker-compose*.yml
.dockerignore

README*.md
CONTRIBUTORS.md
docs
Reference
Dossier_Inspiration
hackTheFork
hackathon_suede

Certificats
Cv
*.docx
*.pdf

k8s
iac
prisma
